/* cacheid:0502817e20b173fb5f3d5d285e962dbd0 */
.jbzoo .price-calc {
  width: 100%;
}
.jbzoo .price-calc table {
  width: 250px;
}
.jbzoo .price-calc td {
  padding-bottom: 24px;
}
.jbzoo .price-calc .clac-label {
  width: 25%;
  font-weight: bold;
  vertical-align: top;
  padding: 0.5em;
}
