/* cacheid:24c2c7df648d62ff86ee0c6a5e66b89d0 */
.jbzoo .jbcart-shipping-courier .shipping-courier {
  position: relative;
}
.jbzoo .jbcart-shipping-courier .calendar-input {
  display: block;
  width: 100% !important;
}
.jbzoo .jbcart-shipping-courier .zoo-calendar {
  top: 20%;
  right: 8px;
  cursor: pointer;
  position: absolute;
}
.jbzoo .jbcart-shipping-courier select {
  margin-bottom: 12px;
}
