/* cacheid:340e181b376480e887b0a5bdd689599d0 */
.jbzoo .jbprice-value-table {
  width: auto;
}
.jbzoo .jbprice-value-table td {
  padding: 0.25em 0.25em 0.25em 0;
}
.jbzoo .jbprice-value-price {
  text-decoration: line-through;
}
