/* cacheid:8676204a442ee36e688b84809d8b47f50 */
.jbzoo .jbprice-value-table {
  width: auto;
}
.jbzoo .jbprice-value-table td {
  padding: 0.25em 0.25em 0.25em 0;
}
.jbzoo .jbprice-value-price {
  text-decoration: line-through;
}
