/* cacheid:365dcd7047407cce8696f491bbfe6b800 */
.jbzoo .jbcart-validator {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.2em;
  color: #d85030;
  border: 1px solid rgba(216, 80, 48, 0.3);
}
