/* cacheid:5b34fa348429fcd3f6a9857e1400c2000 */
.jbzoo .jbcart-form-row {
  *zoom: 1;
  margin-bottom: 1em;
}
.jbzoo .jbcart-form-row:before,
.jbzoo .jbcart-form-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.jbzoo .jbcart-form-row:after {
  clear: both;
}
.jbzoo .jbcart-form-label,
.jbzoo .jbcart-form-control {
  float: left;
}
.jbzoo .jbcart-form-label {
  width: 20%;
  margin: 0 4% 0 0;
}
.jbzoo .jbcart-form-control {
  width: 30%;
  margin: 0 4% 0 0;
}
.jbzoo .jbcart-form-control textarea,
.jbzoo .jbcart-form-control input[type=text],
.jbzoo .jbcart-form-control input[type=number],
.jbzoo .jbcart-form-control input[type=password] {
  width: 95%;
}
.jbzoo .jbcart-form-control select {
  width: 95%;
}
.jbzoo .jbcart-form-control textarea {
  resize: vertical;
  overflow: auto;
  min-height: 100px;
}
.jbzoo .jbcart-form-desc {
  width: 40%;
  float: left;
  font-size: 1em;
  line-height: 1.5em;
  font-style: italic;
  opacity: 0.7;
  filter: alpha(opacity= 70 );
}
.jbzoo .jbcart-form-date .calendar-element {
  width: 95% !important;
}
.jbzoo .jbcart-form-date .zoo-calendar {
  top: 20%;
  right: 20px;
  cursor: pointer;
  position: absolute;
}
.jbzoo .jbcart-form-date .jbcart-form-control {
  position: relative;
}
.jbzoo .jbcart-form-radio input[type=radio],
.jbzoo .jbcart-form-checkbox input[type=radio],
.jbzoo .jbcart-form-radio input[type=checkbox],
.jbzoo .jbcart-form-checkbox input[type=checkbox] {
  float: left;
  margin-right: 12px;
}
.jbzoo .jbcart-form-radio .jbcart-form-control label,
.jbzoo .jbcart-form-checkbox .jbcart-form-control label {
  display: block;
}
.jbzoo .jbcart-form-error {
  color: #f24949;
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
  margin: 4px 0px 12px 0;
}
