{
	"name": "\u041e\u0431\u0449\u0438\u0439",
	"elements": {
		"e94f39bc-f092-4ba6-a037-ccc53c9503cd": {
			"name": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e",
			"description": "",
			"access": "1",
			"type": "jbrelatedauto"
		},
		"b0a0aac2-841b-44c3-8690-9cb38f4dfb04": {
			"name": "\u0426\u0435\u043d\u0430",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"show_modifiers": "1",
			"cache": "0",
			"type": "jbpricecalc"
		},
		"f3029e8d-2fb4-4007-b4ca-1b5d6b9cf7e2": {
			"name": "\u0412\u0435\u0441",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5a4a2c47-37b2-45fd-ac79-0e93e77bd166": {
			"name": "\u041e\u043f\u0438\u0441\u0430\u043d\u0438\u0435",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"e6ac659a-1729-4a43-9089-cd6e4f627007": {
			"name": "\u041a\u0430\u0440\u0442\u0438\u043d\u043a\u0430",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"upload_directory": "\/images\/tovar\/",
			"max_upload_size": "512",
			"upload_by_user": "0",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"type": "jbimage"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		}
	}
}