{
	"jbuniversal.obshhij.teaser": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "itemlink",
				"group_popup": "1",
				"width": "300",
				"height": "225",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e6ac659a-1729-4a43-9089-cd6e4f627007"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5a4a2c47-37b2-45fd-ac79-0e93e77bd166"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "b0a0aac2-841b-44c3-8690-9cb38f4dfb04"
			}
		},
		"weight": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "f3029e8d-2fb4-4007-b4ca-1b5d6b9cf7e2"
			}
		}
	},
	"jbuniversal.obshhij.full": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "800",
				"height_popup": "600",
				"element": "e6ac659a-1729-4a43-9089-cd6e4f627007"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5a4a2c47-37b2-45fd-ac79-0e93e77bd166"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "b0a0aac2-841b-44c3-8690-9cb38f4dfb04"
			}
		},
		"weight": {
			"0": {
				"showlabel": "1",
				"altlabel": "\u0412\u0435\u0441:",
				"separated_by": "tag=[<span>%s<\/span>]",
				"element": "f3029e8d-2fb4-4007-b4ca-1b5d6b9cf7e2"
			}
		},
		"related": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"count": "6",
				"relevant": "0",
				"search-method": "2",
				"order": "relevant",
				"check_app": {
					"0": "1"
				},
				"check_type": "0",
				"check_category": "2",
				"check_fields": {
					"0": "_itemcategory"
				},
				"conditions": {
					"0": {
						"key": "_itemcategory",
						"value": "\u0414\u043e\u043f\u043e\u043b\u043d\u0438\u0442\u0435\u043b\u044c\u043d\u043e"
					}
				},
				"layout": "related",
				"link_to_item": "0",
				"columns": "6",
				"separated_by": "separator=[ ]",
				"element": "e94f39bc-f092-4ba6-a037-ccc53c9503cd"
			}
		}
	},
	"jbuniversal.obshhij.related": {
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "e6ac659a-1729-4a43-9089-cd6e4f627007"
			}
		},
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"template": "default",
				"element": "b0a0aac2-841b-44c3-8690-9cb38f4dfb04"
			}
		}
	}
}